.post {
    margin-top: 10px;
    background-color: white;
    width:33%;
    margin-left:30%;
    margin-right:30%;
    border: 1px solid lightgray;
    margin-bottom: 20px;
} 
h3{
    text-align: center;
    align-items: center;
}
@media screen and (max-width:600px) {
    .post {
        width: calc(100% - 2px);
        margin-left:0;
        margin-right: 0;
    }
}


.image__modal {
    position: absolute;
    width: 60%;
    height:auto;
}

@media screen and (max-width:600px) {
    .image__modal {
        width:95%;
    }
}

.post__image {
    width:100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post__text {
font-weight: normal;
padding:10px;

}
.post__text > strong {
    padding-right: 7px;
}
.post__header {
    display: flex;
    align-items: center;
    padding:10px;
}
.post__avatar {
    margin-right: 10px;
}
.post__delete {
    text-align: right;
 margin-top:-55px;
 padding:0;
}
.post__comments {
    padding:10px;
    font-weight: normal;
}
.post__comments > strong {
    padding-right: 15px;
}
.post__commentBox {
   display:flex;
   margin-top: 10px;
}
.post__input {
    flex:1;
    border:none;
    border-top:1px solid lightgray;
    padding:10px;
}
.post__button {
    flex:0;
    border:none;
color:#6082a3;
background-color: transparent;
border-top: 1px solid lightgray;
}